@import "../../variables";

h4{
    margin-bottom: 3px;
    text-align: left;
}
hr{
    height:1px !important;
    margin-top: 5px;
}
p{
    margin-bottom: 1px;
    text-align: left;
}
.circle{
    width: 30px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    border-radius: 30px;
}
.person{
    font-weight: bold;
}
img{
    width: 30px;
}
